@mixin shadow() {
  box-shadow: 0 0 8px black;
  box-shadow: 0 0 0.5rem black;
}

@mixin shadow-small() {
  box-shadow: 0 2px 4px black;
  box-shadow: 0 0.10rem 0.25rem black;
}

@mixin shadow-inner() {
  box-shadow: inset 0 4px 8px black;
  box-shadow: inset 0 0.25rem 0.5rem black;
}

@mixin shadow-mobile() {
  box-shadow: 0 4px 6px rgba(0,0,0,0.5);
  box-shadow: 0 0.45rem 0.4rem rgba(0,0,0,0.5);
}
