body {
  z-index:-1;
  background-image: url("../images/wood_pattern.png");
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  @media all and (min-device-pixel-ratio:2) {
    background-image: url("../images/wood_pattern_@2x.png");
  }
}

.subtitle {
  font-weight: normal;
  font-style: italic;
  color: gray;
  @include bp-lower('large') {
    font-size: 100%;
    font-size: 3vw;
  }
  @include bp-up('large') {
    font-size: 50%;
    font-size: 1.5vw;
  }
  @include bp-lower('medium') {
    position: absolute;
    left: 62%;
    @include rem('top', 1.2rem);
    top: 7.9vw;
  }
  @include bp-up('medium') {
    position: fixed;
    left: 19%;
    //@include rem('top', 4.2rem);
    top: 5.1vw;
  }
  @include bp('subtitle-sm') {
    top: 6.5vw;
  }
  @include bp('large') {
    top: 5vw;
    left: 21%;
  }
  @include bp-up('xlarge') {
    top: 3.8vw;
    left: 22%;
  }
}

a,a:visited{
  text-decoration:inherit;
  color:inherit;
}
