header {
  background-color: $green;
  @include shadow();

  @include bp-lower('medium') {
    position:relative;
    float: left;
    @include rem('padding-top', 0.5rem);
    @include rem('bottom', 2rem);
    bottom: 8vw;
    z-index: -1;
  }
  @include bp-up('medium') {
    position: fixed;
    @include rem('padding-top', 1.5rem);
    top: 0;
    z-index: 0;
  }
  overflow: initial; /* to make sure that header wraps around content(nav) http://stackoverflow.com/questions/6319500/how-to-make-the-wrapping-div-element-with-relative-position-match-child-elements */
  width: 100%;
}

%li-hover {
  background-position-y: 100%;
  color: $green;
  .no-cssgradients & {
    background-color: white;
  }
}

.logo {
  z-index:1;
  @include bp-lower('medium') {
    display: block;
    @include rem('width', 4rem);
    width: 20vw;
    @include rem('margin', .5rem auto);
    margin: 1vw auto;
  }
  @include bp-up('medium') {
    position: fixed;
    @include rem('top', 1.5rem);
    @include rem('width', 6rem);
    width: 9vw;
  }
  @include bp('medium') {
    left: 10%;
  }
  @include bp('large') {
    left: 12%;
  }
  @include bp-up('xlarge') {
    left: 15%;
    @include rem('width', 8rem);
    width: 7vw;
  }
}
.logo-link:hover + header nav ul .home {
  @extend %li-hover;
}


nav {
  @include bp-lower('medium') {
    padding: 0;
    float: left;
    width: 100%;
    font-size: 62%;
    font-size: 3vw;
  }
  @include bp-up('medium') {
    float: right;
  }
  @include bp('medium') {
    padding: 0 10%;
    font-size: 62%;
    font-size: 1.5vw;
  }
  @include bp('large') {
    padding: 0 12%;
  }
  @include bp-up('large') {
    font-size: 100%;
    font-size: 1.2vw;
  }
  @include bp-up('xlarge') {
    padding: 0 15%;
    font-size: 110%;
    font-size: 1vw;
  }
  ul {
    padding:0;
    float: right;
    margin-bottom: 0em;
    @include bp('small') {
      width: 100%;
    }
    li {
      transition: background 0.5s, color 0.5s;
      color: white;
      background: linear-gradient(to top, white 50%, $green 50%);
      background-size: 200%;
      background-position-y: 0%;
      float: left;
      list-style-type: none;
      font-size: 1.5em;
      @include bp('small') {
        width: 100%;
        @include rem('padding', 1.5rem);
        @include rem('padding-bottom', .75rem);
      }
      @include bp-up('medium') {
        @include rem('padding', .5rem);
        @include rem('border-right-width', .1rem);
        border-right-style: solid;
        border-right-color: white;
      }
      @include bp-up('xlarge') {
        @include rem('padding', 1rem 1.2rem);
        @include rem('padding-bottom', .5rem);
      }

      &.selected{
        background-position-y: 75%;
        color: $green;
      }
      &:last-of-type {
        }
      &:hover{
        @extend %li-hover;
      }
    }
    a {
      text-decoration:none;
      &:last-of-type > li {
        border: none;
      }
    }
  }
}
