header {
  background-color: $green;
  box-shadow: 0px 0px 7px black;
  position: absolute;
  z-index:-1;
  @include bp-lower('medium') {
    position:relative;
    float: left;
    padding-top: 0.5em;
    bottom: 2em;
    bottom: 8vw;
  }
  @include bp-up('medium') {
    padding-top: 1.5em;
    top: 0;
  }
  overflow: initial; /* to make sure that header wraps around content(nav) http://stackoverflow.com/questions/6319500/how-to-make-the-wrapping-div-element-with-relative-position-match-child-elements */
  width: 100%;
}

%li-hover {
  background-position-y: 100%;
  color: $green;
}

.logo{
  z-index:1;
  @include bp-lower('medium') {
    display: block;
    width: 4em;
    width: 20vw;
    margin: .5em auto;
    margin: 1vw auto;
  }
}
.logo-link:hover + header nav ul .home {
  @extend %li-hover;
}


nav {
  @include bp-lower('medium') {
    padding: 0;
    float: left;
    width: 100%;
    font-size: 62%;
    font-size: 3vw;
  }
  @include bp-up('medium') {
    padding: 0 10%;
    float: right;
  }
  @include bp('medium') {
    font-size: 62%;
    font-size: 1.5vw;
  }
  @include bp-up('large') {
    font-size: 100%;
  }
  ul {
    float: right;
    margin-bottom: 0em;
    @include bp('small') {
      width: 100%;
    }
    a {
      text-decoration:none;
    }
    li {
      @include bp('small') {
        width: 100%;
      }
      transition: background 0.5s, color 0.5s;
      color: white;
      background: linear-gradient(to top, white 50%, $green 50%);
      background-size: 200%;
      background-position-y: 0%;
      float: left;
      border-right: 2px solid white;
      list-style-type: none;
      padding-left: 1.5em;
      padding-top: 1.5em;
      padding-bottom:.75em;
      font-size: 1.5em;
      &.selected{
        background-position-y: 75%;
        color: $green;
      }
      &:last-of-type {
        border: none;
      }
      &:hover{
        @extend %li-hover;
      }
    }
  }
}
