@media screen {
header {
  position: relative;
  @include bp-lower('medium') {
    .js & {
      position:fixed;
    }
    float: left;
    width:100%;
    z-index: 1;
    .js & input[type=checkbox]:checked ~ nav{
        @include rem('top', 3.5rem);
        top:14vw;
    }
    &:before {
      width:100%;
      position:fixed;
      top:0;
      left:0;
      @include rem('height', 3.5rem);
      height:14vw;
      background-color:$green;
      content:"";
      z-index:-1;
      @include shadow();
    }
  }

  @include bp-up('medium') {
    position: fixed;
    top: 0;
    z-index: 0;
  }

  overflow: initial; /* to make sure that header wraps around content(nav) http://stackoverflow.com/questions/6319500/how-to-make-the-wrapping-div-element-with-relative-position-match-child-elements */
  width: 100%;


  .show-menu{
    @include bp-lower('medium') {
      position:fixed;
      right:0%;
      top:0;
      @include rem('height', 3.5rem);
      height:14vw;
      @include rem('width', 3.5rem);
      width:14vw;
      background-image:url(../images/menu.svg);
      background-size:80% 80%;
      background-repeat:no-repeat;
      background-position: center;
      .no-js & {
        display:none;
      }
    }
    @include bp-up('medium') {
      display:none;
    }
    &:hover {
      cursor:pointer;
    }
  }

  input[type=checkbox] {
    display:none;
  }
}


%li-hover {
  background-position-y: 100%;
  color: $green;
  .no-cssgradients &, .no-bgpositionxy &, .no-js & {
    background: none;
    background-color: white;
  }
}

.logo {
  z-index: 1;
  @include bp-lower('medium') {
    position:fixed;
    display: block;
    width:20%;
    float:left;
  }
  @include bp-up('medium') {
    position: fixed;
    @include rem('top', 1.5rem);
    @include rem('width', 6rem);
    width: 9vw;
  }
  @include bp('medium') {
    left: 10%;
  }
  @include bp('large') {
    left: 12%;
  }
  @include bp-up('xlarge') {
    left: 15%;
    @include rem('width', 8rem);
    width: 7vw;
  }
}
.logo-link:hover + nav ul .home {
  @extend %li-hover;
}


nav {
  background-color: $green;
  position: relative;
  @include shadow();

  @include bp-lower('medium') {
    .js & {
        width:45%;
        position:fixed;
        left:55%;
        @include rem('top', -25rem);
    }
    .no-js & {
        width:100%;
        position:relative;
        @include rem('margin-top', 7.9rem);
        margin-top:25vw;
    }
    z-index: -1;
    padding: 0;
    font-size: 62%;
    font-size: 3vw;
    z-index:-2;
    transition: top 0.4s ease-out;
  }
  @include bp-up('medium') {
    float: right;
    width: 100%;
  }
  @include bp('medium') {
    padding: 0 10%;
    @include rem('padding-top', 1.5rem);
    font-size: 62%;
    font-size: 1.5vw;
  }
  @include bp('large') {
    padding: 0 12%;
    @include rem('padding-top', 1.5rem);
  }
  @include bp-up('large') {
    font-size: 100%;
    font-size: 1.2vw;
  }
  @include bp-up('xlarge') {
    padding: 0 15%;
    @include rem('padding-top', 1.5rem);
    font-size: 110%;
    font-size: 1vw;
  }
  ul {
    padding:0;
    float: right;
    margin-bottom: 0em;
    @include bp('small') {
      @include shadow-mobile();
      width: 100%;
    }
    li {
      transition: background 0.5s, color 0.5s;
      color: white;
      background: linear-gradient(to top, white 50%, $green 50%);
      background-size: 200%;
      background-position-y: 0%;
      float: left;
      list-style-type: none;
      font-size: 1.5em;
      @include bp('small') {
        width: 100%;
        @include rem('padding', 1.0rem);
        @include rem('padding-bottom', .75rem);
      }
      @include bp-up('medium') {
        @include rem('padding', .5rem);
        @include rem('border-right-width', .1rem);
        border-right-style: solid;
        border-right-color: white;
      }
      @include bp-up('xlarge') {
        @include rem('padding', 1rem 1.2rem);
        @include rem('padding-bottom', .5rem);
      }

      &.selected{
        background-position-y: 75%;
        color: $green;
      }
      &:hover, &.selected:hover {
        @extend %li-hover;
        .no-cssgradients &, .no-bgpositionxy &, .no-js & {
          color: $green;
        }
      }
      .no-cssgradients &, .no-bgpositionxy &, .no-js & {
        background: none;
        background-color: $green;
        &.selected {
          background-color: white;
          color: $green;
        }
      }
    }
    a {
      text-decoration:none;
      &:last-of-type > li {
        border: none;
      }
    }
  }
}


.subtitle {
  font-weight: normal;
  font-style: italic;
  color: gray;
  position: absolute;

  @include bp-lower('large') {
    font-size: 100%;
    font-size: 3vw;
  }
  @include bp-up('large') {
    font-size: 1.4em;
    font-size: 1.5vw;
  }
  @include bp-lower('medium') {
    @include rem('top', 0.6rem);
    top: 2.3vw;
    color: white;
    font-size: 1.4em;
    font-size: 6vw;
    position:fixed;
  }
  @include bp-up('medium') {
    bottom: -2em;
  }
  @include bp('large') {
    bottom: -2em;
  }
  @include bp-up('xlarge') {
    bottom: -2em;

  }
}
.left{
  @include bp-lower('medium') {
    left: 21%;
  }
  @include bp('medium') {
    left: 24.2%;
  }
  @include bp('large') {
    left: 21%;
  }
  @include bp-up('xlarge') {
    left: 23.5%;
  }
}
.right{
  @include bp-lower('medium') {
    right: 15%;
    display:none;
  }
  @include bp-up('medium') {
    right: 5%;
  }
  @include bp('large') {
    right: 2%;
  }
}
}

.italic{
  font-style:italic;
}
