.main-section {

  @include bp-lower('medium') {
    .impressum > p:last-of-type {
      @include rem('padding-bottom', 3rem);
    }
  }

  @include bp-up('medium') {
    .impressum h1, .impressum p {
      position: relative;
      left: 15%;
      width: 75%;
    }
  }

  .icon path {
    fill: $green;
  }
  svg {
    vertical-align:middle;
    @include rem('width', 3rem);
    @include rem('height', 3rem);
    @include rem('margin-right', 1.2rem);
  }

  .impressum p {
    font-size:25px;
  }
}
