.main-section {
  width: 100%;
  float: left;

  .code code {
      color: white;
      width: 100%;
  }

  .example {
      width: 96%;
      float: left;
  }

  pre {
    padding:0;
    margin:0;
    height: 100%;
  }

  @include rem('margin-bottom', 8rem);
  @include bp-lower('medium') {
    article > *:not(img) {
      background-color: white;
      @include rem('margin-top', -0.5rem);
      @include rem('padding', 0.5rem);
      margin:0 2%;
    }
    h1 {
      color: $green;
      text-align: center;
    }
    img, .code pre{
      width: 100%;
      @include shadow();
    }
    .example {
      background-color: white;
    }
    .button {
      @include shadow-small();
      transition: all 1s;
      position: relative;

      @include rem('padding', 0.5rem);
      border: 0 solid white;
      color: $green;
      @include rem('border-width', 0.2rem);
      @include rem('border-radius', 99rem);
      &.top {
        @include rem('top', 2.2rem);
        @include rem('left', 1.5rem);
      }
      &.bottom {
        @include rem('top', 1.5rem);
        float:right;
        @include rem('right', 1.5rem);
      }
      &:target {
        background-color: $green;
        color: white;
      }
      &:hover {
        background-color: $green;
        color: white;
        border-color: $green;
      }
    }
  }
  @include bp-up('medium') {
    background-color: white;
    position: relative;
    z-index: -1;
    @include rem('padding', 2rem);
    .styleguide & {
      @include rem('padding', 3rem);
    }
    &:first-of-type {
      @include rem('margin-top', 15rem);
    }
    & article > *:not(img) {
      background-color: white;
      &.example {
        background-color:transparent;
      }
    }
    h1 {
      color: $green;
    }
    h1, p {
      position: relative;
      left: 55%;
      width: 40%;
    }
    img, .code {
      @include rem('width', 60rem);
      @include shadow();
      position: absolute;
      top: -5%;
      right: 50%;
      height: 110%;
    }
    img {
      width: auto;
    }
    .example {
      position: relative;
      left: 55%;
      width: 40%;
      nav {
          padding: 0;
          float: left;
      }
    }
    .code {
      width: 40%;
      code {
          height: 100%;
      }
    }
    .button {
      @include shadow-small();
      transition: all 1s;
      position: absolute;
      @include rem('left', 1rem);
      @include rem('padding', 0.5rem);
      border: 0 solid white;
      color: $green;
      @include rem('border-width', 0.2rem);
      @include rem('border-radius', 99rem);
      &.top {
        @include rem('top', 3rem);
      }
      &.bottom {
        @include rem('bottom', 3rem);
      }
      &:target {
        background-color: $green;
        color: white;
      }
      &:hover {
        background-color: $green;
        color: white;
        border-color: $green;
      }
    }
  }

  .hide {
    display: none;
  }
}

footer.not-fixed {
  position: relative;
  width: 100%;
}
