.main-section {
  $back-opac: .7;
  transform-style: preserve-3d;
  float:left;
  width:100%;
  @include bp-lower('medium') {
    @media screen and (orientation:portrait) {
      @include rem('margin-top', 6rem);
      margin-top: 20vw;
    }
    @media screen and (orientation:landscape) {
      @include rem('margin-top', 3.5rem);
      margin-top: 15vw;
    }
    article > *:not(img) {
      @include rgba('background-color', white, $back-opac);
      @include rem('margin-top', -0.5rem);
      @include rem('padding', 0.5rem);
      margin:0 2%;
    }
    h1 {
      color: $green;
      text-align: center;
    }
    img:not(.icon):not(.profile-image) {
      width: 100%;
      @include shadow();
      .contact & {
          display: none;
      }
    }
  }

  @include bp-up('medium') {
    @include shadow();
    @include rem('padding', 2rem);
    @include rgba('background-color', white, $back-opac);
    position: relative;
    z-index: 0;
    body:not(.use-wrapper) &{
      @include rem('margin-bottom', 8rem);
       &:first-of-type {
      @include rem('margin-top', 15rem);
      }
    }
    h1 {
      color: $green;
    }
    h1, p, .profile {
      position: relative;
      left: 55%;
      width: 40%;
      background-color: none;
    }
    img:not(.icon):not(.profile-image) {
      @include rem('width', 60rem);
      width: auto;
      position: absolute;
      right: 50%;
      background-color: transparent;
      body:not(.contact) & {
        height: 100%;
        top: 0;
      }
      .contact & {
        height: 100%;
        top: 0;
      }
    }
  }

  .no-boxshadow & {
    @include rem('margin-top', 10rem);
  }

  .profile {
    @include rem('padding-bottom', 6rem);
    position: relative;
    @include bp-lower('medium') {
      padding-left: 10%;
    }
    div {
      display: inline;
    }
    .profile-image {
      @include rem('width', 8rem);
      @include rem('height', 8rem);
      border: 1px white solid;
      border-radius: 32px;
      transition: border-color .5s;
      @include rem('border-width', .7rem);
      &:hover {
        border-color: $green;
      }
    }
    .no-js &:hover ~ {
      display: inline;
      opacity: 1;
    }
    & .selected .profile-info {
      display: inline;
      opacity: 1;
    }
    .profile-info {
      transition: opacity 0.5s;
      opacity: 0;
      position: absolute;
      @include rem('left', .7rem);
      bottom: 0;
      width: 90%;
      @include bp-lower('medium') {
        left: 10%;
        width: 80%;
      }
      p {
        left: 0;
      }
    }
  }
}

.wrapper{
  @include bp-up("medium") {
    float:left;
    width:100%;
    @include rem('padding-top', 16rem);
    @include rem('padding-bottom', 15rem);
    &:first-of-type {
      @include rem('padding-top', 16rem);
    }
    &:last-of-type{
      @include rem('padding-bottom', 15rem);
    }
  }
}
.button {
  @include shadow-small();
  @include rem('padding', 1rem);
  border: 0 solid white;
  @include rem('border-width', 0.2rem);
  @include rem('border-radius', 99rem);
  cursor: pointer;
  transition: background-color 1s, color 1s, border-color 1s;
  color: $green;
  font-size:25px;
  font-weight:bold;
  font-color:$green;
  &.btn-selected {
    background-color: $green;
    color: white;
  }

  &:hover {
    background-color: $green;
    border-color: $green;
    color: white;
  }

  @include bp-up('medium') {
    position: fixed;
    @include rem('right', 1rem);
    &.upper{
      @include rem('top', 8rem);
      }
    &.lower {
      @include rem('bottom', 5rem);
    }
  }
  @include bp-lower('medium') {
    &.upper {
      display:none;
    }
    &.lower {
      display:none;
    }
  }
}
