$breakpoints: (
  'small-min'  : 0,
  'small-max'  : 40em,
  'medium-min' : 40.063em,
  'medium-max' : 67em,
  'large-min'  : 67.063em,
  'large-max'  : 100em,
  'xlarge-min' : 100.063em,
  'xlarge-max' : 120em,
  'xxlarge-min': 120.063em,
  'subtitle-sm-min':40.063em,
  'subtitle-sm-max':53em,
  'footer-wrap-fix-min': 0,
  'footer-wrap-fix-max': 23em,
  'footer-no-wrap-fix-min': 23em
);

@mixin bp-up($breakpoint) {
  $value: map-get($breakpoints, #{$breakpoint}-min);
   @media (min-width: $value) {
     @content;
   }
}

@mixin bp-lower($breakpoint) {
  $value: map-get($breakpoints, #{$breakpoint}-min);
   @media (max-width: $value) {
     @content;
   }
}

@mixin bp($breakpoint) {
  $value-min: map-get($breakpoints, #{$breakpoint}-min);
  $value-max: map-get($breakpoints, #{$breakpoint}-max);
   @media (min-width: $value-min) and (max-width: $value-max) {
     @content;
   }
}
